// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Device Tree for BigTreeTech Pad 7 (CB1 module + 7" touchscreen)
 * Based on mainline sun50i-h616-bigtreetech-cb1.dtsi
 * 
 * Display: 7" 1024x600 IPS LCD connected via internal HDMI
 * Touch: Goodix GT911 on I2C1
 */

/dts-v1/;

#include "sun50i-h616-bigtreetech-cb1.dtsi"

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/interrupt-controller/irq.h>

/ {
	model = "BigTreeTech Pad 7";
	compatible = "bigtreetech,pad7", "bigtreetech,cb1", "allwinner,sun50i-h616";

	aliases {
		serial0 = &uart0;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	/* Backlight control for 7" LCD */
	backlight: backlight {
		compatible = "pwm-backlight";
		pwms = <&pwm 0 50000 0>;
		brightness-levels = <0 10 20 30 40 50 60 70 80 90 100>;
		default-brightness-level = <8>;
		power-supply = <&reg_dldo1>;
	};
};

/* UART0 for serial console */
&uart0 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart0_ph_pins>;
	status = "okay";
};

/* I2C1 for touchscreen */
&i2c1 {
	status = "okay";

	touchscreen@5d {
		compatible = "goodix,gt911";
		reg = <0x5d>;
		interrupt-parent = <&pio>;
		interrupts = <7 4 IRQ_TYPE_EDGE_FALLING>;  /* PH4 */
		irq-gpios = <&pio 7 4 GPIO_ACTIVE_HIGH>;
		reset-gpios = <&pio 7 3 GPIO_ACTIVE_HIGH>; /* PH3 */
		touchscreen-size-x = <1024>;
		touchscreen-size-y = <600>;
	};
};

/* PWM for backlight control */
&pwm {
	pinctrl-names = "default";
	pinctrl-0 = <&pwm0_pin>;
	status = "okay";
};

/* Enable USB ports */
&ehci0 {
	status = "okay";
};

&ehci1 {
	status = "okay";
};

&ehci2 {
	status = "okay";
};

&ehci3 {
	status = "okay";
};

&ohci0 {
	status = "okay";
};

&ohci1 {
	status = "okay";
};

&ohci2 {
	status = "okay";
};

&ohci3 {
	status = "okay";
};

&usbotg {
	dr_mode = "otg";
	status = "okay";
};

&usbphy {
	status = "okay";
};
